<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{users/{id} (id=${user.getId()}) } " th:object="${user}">
    <label for="name" >Enter the name:</label>
    <input type="text" th:field="*{name}" id="name" />
    <div style="color:blue" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name can't be null</div>
    <br/>
    <label for="surname" >Enter your surname:</label>
    <input type="text" th:field="*{surname}" id="surname" />
    <div style="color:blue" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Error in the email</div>
    <br/>
    <label for="money">Amount of money:</label>
    <input type="text" th:field="*{money}" id="money" />
    <div style="color:blue" th:if="${#fields.hasErrors('money')}" th:errors="*{money}">Amount of money should be positive</div>
    <br/>

    <input type="submit" value="Update!"/>
</form>
</body>
</html>