<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User and user's orders</title>
</head>
<body>

<p>The user is <span th:text="${user.getName() + ', ' + user.getSurname()}" ></span>.</p>
<p>The user has <span th:text="${user.getMoney()}"></span> on the account.</p>
<p>The user has bought such products:</p>

<table>
  <tr>
    <th>NAME</th>
    <th>PRICE</th>
  </tr>
  <tr th:each="product : ${purchases}">
    <td th:text="${product.getName()}"></td>
    <td th:text="${product.getPrice()}"></td>
  </tr>
</table>


<form th:method="UPDATE" th:action="@{/users/{id}(id=${user.getId()})}">
<input type="button" value="Edit user's order"/>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
  <input type="submit" value="Delete user"/>
</form>

</body>
</html>