<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new product</title>
</head>
<body>

<form th:method="POST" th:action="@{products}" th:object="${product}">
    <label for="name">Enter the name of a product:</label>
    <input type="text" th:field="*{name}" id="name" />
    <div style="color:blue" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name can't be null</div>
    <br/>

    <label for="price" >Enter the price of the product:</label>
    <input type="text" th:field="*{price}" id="price" />
    <div style="color:blue" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price should be more than 0</div>
    <br/>

    <input type="submit" value="Add new product!"/>
</form>

</body>
</html>